---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
// import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"docs"> {
  variant?: "h2" | "h3";
}

let { variant = "h2", data, id } = Astro.props;

const { title, desc } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};

if (id && id.endsWith("s")) {
  // json file filtering
  id = id.split("/")[0];
}
---

<li class="my-6">
  <a
    href={"/articles/" + id}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <p>{desc}</p>
</li>
