---
import Hr from "./Hr.astro"
---

<aside class="float-left  transform-[translateY(-50%)] fixed w-1/4 h-1/4 top-1/2 px-10 ml-10 h-auto inset-shadow-md rounded-md">
  <div class="p-4">
    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white">
      Dashboard
    </h1>
  </div>
  <Hr />
  <a href="#" class="flex items-center px-4 py-2 hover:bg-muted hover:text-accent rounded-sm">
    Home
  </a>
  <p>hi</p>
  <p>hihi</p>
  
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
  <p>hihi</p>
</aside>
